* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

main {
    display: flex;
    min-height: 90vh;
}

.section {
    flex: auto; 
    background-color: #F3F5FC;
}

.logo {
    width: 15%;  
    text-align: center;
}

.left {
    width: 55%;      
}

.right {
    width: 30%;
    padding: 1% 0;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    position: relative;
}

#idLogo {
    max-width: 50%; 
    min-height: auto;
    display: block;
    margin: 5vh auto 0; 
}

.caja-mensaje {
    min-height: 80%;
    padding-top: 15%;
}

textarea {
    font-family: "Inter", sans-serif;
    font-weight: 400;
}

textarea::placeholder {
    color: #0A3871;
}

#txtCajaMensaje {
    min-height: 100%;
    width: 100%;
    font-size: 28px;
    line-height: 40px;
    color: #0A3871;
    background-color: #F3F5FC;
    border: none;
    resize: none;
} 

#txtCajaMensaje:focus {
    border: none;
    outline: none;
}

small {
    font-size: 12px;
    line-height: 18px;
    color: #0A3871;
}


.caja-botones {
    min-height: 20%;
    position: relative;
}

.requisito::before {
    content: "\1F6C8";
    padding-right: 2px; 
}

.requisito {
    position: absolute;
    bottom: 80%;
}

.contenedor-botones {
    display: flex; 
    justify-content: space-between; 
    padding-top: 25px;
}

button {
    display: inline-block; 
    width: 46%;
    padding: 10px 20px; 
    font-size: 16px; 
    line-height: 19.36px;
    text-align: center; 
    cursor: pointer; 
    border: none; 
    border-radius: 14px; 
    text-decoration: none;
}

.boton-encriptar {
    background-color: #0A3871;  
    color: #ffffff; 
}

.boton-encriptar:hover {
    background-color: #0056b3; 
}

.boton-desencriptar {
    background-color: #F3F5FC;
    color: #0A3871; 
    border: 1px solid #0A3871;
}

.boton-desencriptar:hover {
    background-color: #0A3871; 
    color: #ffffff;
}

.boton-copiar {
    background-color: #F3F5FC;
    color: #0A3871; 
    border: 1px solid #0A3871;
}

.hide-btn {
    display: none;
}

.boton-copiar:hover {
    background-color: #0A3871; 
    color: #ffffff;
}

button:active {
    transform: translateY(1px); 
}

.boton-copiar {
    width: 65%;
    position: absolute;
    bottom: 8%;
}

#txtCajaTraduccion {
    min-height: 96%;
    width: 80%;
    font-size: 18px;
    line-height: 28px;
    color: #495057;
    background-color:#FFFFFF;
    box-shadow: 0 24px 32px -8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    border: none;
    border-radius: 32px;
    resize: none;
}

#txtCajaTraduccion:focus {
    border: none;
    outline: none;
}

.caja-munieco {
    width: 60%;
    position: absolute;
    overflow: hidden;
}

.img-munieco {
    width: 100%;
    height: auto;
}

#cadena-uno {
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    margin: .5rem;
}

#cadena-dos {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
}

footer {
    min-height: 10vh;
    background-color: #0A3871;
    color: #F3F5FC;
    text-align: center; 
}

.redes {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
  
.redes-sociales {
    list-style: none; 
    padding: 8px 0; 
}

.redes-sociales li {
    display: inline-block; 
    margin-right: 10px; 
    transition: transform 0.5s ease;
}

.redes-sociales li:hover {
    transform: translateY(-4px);
}

.redes-sociales li a {
    color: #F3F5FC;
}

.redes-sociales i {
    width: 30px; 
    height: 20px; 
    vertical-align: middle; 
}
  
.copyright {
    color: #F3F5FC;
}


@media screen and (max-width:768px){

    body {
        /* min-height: 1174px; */
        height: 1174px;
    }

    main{
        /* max-height: 90%; */
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    footer {
        /* max-height: 10%; */
        height: 10%;
        display: flex;
        justify-content: center;
    }
        
    /* #sectionLogo {
        flex-basis: 20%;
    } */

    .logo {
        flex-basis: 20%;
    }
    
    /* #sectionMensaje {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        flex-basis: 50%;
        padding: 0 3rem;
    } */

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        flex-basis: 50%;
        padding: 0 3rem;
    }
    
    /* #sectionTraduccion {
        height: 30%;
        padding: 2rem 3rem;
    }  */

    .right {
        height: 30%;
        padding: 2rem 3rem;
    }

    .contenedor-botones {
        padding-top: 40px;;
    }

    button {
        padding: 20px 20px;
    }
    
    .requisito {
        bottom: 75%;
    }

    .img-munieco {
        display: none;
    }

    .section {
        width: 100%;
    }


    #idLogo {
        margin-left: 0%;
        text-align: left;
    }

    .caja-mensaje {
        padding: 0%;
    }

    #txtCajaTraduccion {
        width: 100%;
        resize:vertical;
    }

    .boton-copiar {
        width: 80%;
        bottom: 18%;
    }

    .redes-sociales {
        list-style: none; 
        padding-top: 40;
    }
        
    .redes-sociales i {
        width: 50px;
    }
   

} 


@media screen and (max-width:375px){

    body {        
        /* min-height: 933px; */
        height: 933px;
    }

    main{
        /* max-height: 90%; */
        height: 90%;
        display: flex;
        flex-direction: column;
    }

    footer {
        /* max-height: 10%; */
        height: 10%;
        display: flex;
        justify-content: center;
    }
        
    /* #sectionLogo {
        flex-basis: 20%;
    } */

    .logo {
        flex-basis: 20%;
    }
    
    /* #sectionMensaje {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        flex-basis: 50%;
        padding: 0 3rem;
    } */

    .left {
        display: flex;
        flex-direction: column;
        justify-content: space-between; 
        flex-basis: 50%;
        padding: 0 2rem;
    }
    
    /* #sectionTraduccion {
        height: 30%;
        padding: 2rem 3rem;
    }  */

    .right {
        height: 30%;
        padding: 2rem 2rem;
    }

    .caja-mensaje {
        min-height: 60%;
        padding: 0%;
    }

    .caja-botones {
        min-height: 40%;
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }
    
    .contenedor-botones {
        width: 100%;
        display: inline-block;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center; 
        /* padding-top: 20px 20px; */
    }

    button {
        padding: 15px 20px;
        width: 100%;
    }

    .boton-encriptar, .boton-desencriptar {
        margin: 0.5rem 0;
    }
    
    .requisito {
        bottom: 75%;
    }

    .img-munieco {
        display: none;
    }

    .section {
        width: 100%;
    }


    #idLogo {
        margin-left: 0%;
        text-align: left;
    }
    
    #txtCajaTraduccion {
        width: 100%;
        resize:vertical;
    }

    .boton-copiar {
        width: 60%;
        bottom: 18%;
    }

    .redes-sociales {
        list-style: none; 
        padding-top: 40;
    }
        
    .redes-sociales i {
        width: 50px;
    }
   

} 